@import "tailwindcss";

*{
  @apply box-border
}

.nav-button{
  @apply invisible rotate-90 transition-all duration-300 ease-in z-40 text-white group-hover:text-black
}

.nav-button.shown{
  @apply visible rotate-0
}

.mini-nav{
  @apply flex flex-col gap-6 justify-center items-center h-[50dvh] min-h-[350px] w-full top-0 left-0 bg-white absolute 
}

.mini-nav{
  clip-path: circle(100% at 47% 10%);
  transition: all 200ms ease-in;
}

.mini-nav.closed{
  clip-path: circle(0% at 47% 10%);
}

.mini-nav li{
  @apply  w-[90%] flex justify-center py-1.5 relative z-50  hover:text-white transition-all duration-300 ease-in cursor-pointer
  before:absolute before:content-[''] before:w-full before:left-0 before:top-0 before:h-full before:-z-10 before:rounded hover:before:bg-neutral-700
}

.mini-nav li::before{
  clip-path: circle(0% at 50% 50%);
  transition: all 300ms ease-in;
}

.mini-nav li:hover::before{
  clip-path: circle(100% at 50% 50%);
}

.background{
  /* background-color: #45556c; */
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #45556c 20%, #45556c 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #45556c 20%, #45556c 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#b5b5bc 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #b5b5bc 1.6px, #45556c 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}